@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

.about {
    display: flex;
    justify-content: center;
    padding: 0 15px;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        align-items: center;
    }
}