.aboutHeader {
    position: relative;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6) 30%, rgba(255, 255, 255, 0.4) 100%),
        url("https://avatanplus.com/files/resources/original/5c54816a839a4168aa19882b.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    /* или установите высоту по своему усмотрению */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    /* Занимать всю ширину контейнера */
    margin: 0 auto;

    .header {
        font-size: 3vw;
        /* Адаптивный размер шрифта */

        margin-bottom: 30px;
        color: white;
        /* Цвет текста, чтобы он был видим на фоне */
        line-height: 0.7;

        /* Уменьшаем расстояние между строками */
        span {
            display: block;
        }
    }

    .header-low {
        font-size: 2vw;
        /* Адаптивный размер шрифта */
        margin-bottom: 20px;
        color: white;
        /* Цвет текста, чтобы он был видим на фоне */
    }
}